<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.duole" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:sharedUserId="android.uid.system" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		<activity android:name="Duole" android:label="@string/app_name"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".player.FlashPlayerActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"></activity>
		<activity android:name=".player.MusicPlayerActivity"
			android:label="@string/app_name" android:screenOrientation="landscape"></activity>
		<activity android:name=".activity.SystemConfigActivity"
			android:label="@string/app_name" android:screenOrientation="landscape" />
		<activity android:name=".activity.PasswordActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.Dialog"
			android:screenOrientation="landscape" />
		<activity android:name=".activity.CheckUpdateActivity"
			android:screenOrientation="landscape" android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".player.SingleMusicPlayerActivity"
			android:label="@string/app_name" android:screenOrientation="landscape" />
		<service android:name=".service.BackgroundRefreshService" />
		<service android:name=".service.UnLockScreenService" />

		<receiver android:name=".receiver.BootCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receiver.BackgroundRefreshReceiver">
			<intent-filter>
				<action android:name="com.duole.refresh.Start" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receiver.RefreshCompeleteReceiver">
			<intent-filter>
				<action android:name="com.duole.refresh.Complete" />
			</intent-filter>
		</receiver>

		<receiver android:name=".receiver.AntiFatigueReceiver">
			<intent-filter>
				<action android:name="com.duole.player.start" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.duole.player.end" />
			</intent-filter>
		</receiver>

		<service android:name=".service.AntiFatigueService" />

	</application>

	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />

	<uses-sdk android:minSdkVersion="8" />
	<!-- Create or delete files -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- output datas. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.DELETE_PACKAGES" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
</manifest> 